body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 15px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 48px;
  text-align: center;
  margin: 0px;
}

h2 {
  font-size: 64px;
  margin: 0;
}

h3 {
  font-size: 52px;
  margin: 10px 0;
}

form {
  display: block;
  margin: 20px auto;
  text-align: center;
}

div.col .row .cityinfo {
  padding: 0px;
}
input {
  height: 40px;
  margin: 2px;
}

label {
  color: grey;
  font-size: 20px;
}
p {
  margin: 0;
  font-size: 20px;
}

footer {
  text-align: center;
}
a {
  color: #bef5e2;
  font-weight: 400;
}

img.main {
  width: 140px;
  object-fit: cover;
  object-position: -10px -30px;
  filter: saturate(150%);
  /*position: relative;
  top: -20px;*/
}

img.forecast {
  width: 90px;
  filter: saturate(150%);
}

a:hover {
  color: #89fcd4;
}

.weather-icon-frame {
  max-width: 120px;
  max-height: 80px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  border-radius: 20px;
  padding: 30px;
  background-color: rgb(47, 47, 51);
}

.search {
  border: 2px solid rgb(214, 212, 212);
  border-radius: 4px;
  width: 250px;
}

.go {
  background-color: #bef5e2;
  border: 3px solid #bef5e2;
  height: 40px;
  width: 50px;
  border-radius: 3px;
  text-align: center;
  transition: all 200ms ease-in-out;
}
.go:hover {
  background-color: #a0f3d6;
  border: 3px solid #a0f3d6;
}
.go:active {
  background-color: #89fcd4;
  border: 3px solid #89fcd4;
}

.unit {
  font-size: 24px;
  font-weight: 300;
  position: relative;
  top: -28px;
}
.local {
  background-color: rgb(146, 146, 146);
  border: 3px solid rgb(146, 146, 146);
  color: white;
  height: 40px;
  width: 60px;
  border-radius: 3px;
  text-align: center;
  transition: all 200ms ease-in-out;
  margin: 2px;
}

.local:hover {
  background-color: rgb(122, 122, 122);
  border: 3px solid rgb(122, 122, 122);
}

.description {
  font-weight: 300;
}

.description:first-letter {
  text-transform: capitalize;
}
.convert {
  background-color: rgb(194, 194, 194);
  border: rgb(194, 194, 194);
  font-size: 12px;
  margin: 2px;
  color: black;
}

.convert:hover {
  background-color: rgb(158, 158, 158);
  border: rgb(194, 194, 194);
}

.cityinfo {
  margin: 0 auto;
  padding: 15px;
}
.icon {
  background-color: rgb(194, 194, 194);
  color: white;
  text-align: center;
  margin: 0 10px 0 auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.today {
  max-width: 250px;
  height: 250px;
  padding: 35px;
  border-radius: 125px;
}

.week {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.big {
  font-size: 100px;
}

.small {
  font-size: 45px;
}

.day {
  text-align: center;
}

.temp {
  font-weight: 400;
}
.vhot {
  background-color: #d38784;
  background: linear-gradient(to top, #ee9f87 0%, #d285a4 100%);
}
.hot {
  background-color: #d285a4;
  background: linear-gradient(to top, #d285a4 0%, #c586bb 100%);
}
.warm {
  background-color: #d186c5;
  background: linear-gradient(to top, #d186c5 0%, #bc87d0 100%);
}
.mild {
  background-color: #bc87d0;
  background: linear-gradient(to top, #bc87d0 0%, #9d87d0 100%);
}
.cool {
  background-color: #9d87d0;
  background: linear-gradient(to top, #9d87d0 0%, #8892cf 100%);
}
.cold {
  background-color: #8892cf;
  background: linear-gradient(to top, #8892cf 0%, #89b1ce 100%);
}
.freeze {
  background-color: #89b1ce;
  background: linear-gradient(to top, #89b1ce 0%, #d0e4f5 100%);
}
